# for pnpm, use flat node_modules
shamefully-hoist=true

@visonum:registry=https://gitlab.com/api/v4/projects/28239070/packages/npm/
//gitlab.com/api/v4/projects/28239070/packages/npm/:_authToken=mt5XPdTF4QyPPurYhyfR

